
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    @if (HttpContextAccessor.HttpContext.Session.GetString("admin") != null)
    {
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AdminLTE 3 | Dashboard</title>
         
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
          
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
          
        <link rel="stylesheet" href="AdminLTE-3.2.0/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
        <link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
          
        <link rel="stylesheet" href="AdminLTE-3.2.0/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
         
        <link rel="stylesheet" href="AdminLTE-3.2.0/plugins/jqvmap/jqvmap.min.css">
        <link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/jqvmap/jqvmap.min.css">
          
        <link rel="stylesheet" href="AdminLTE-3.2.0/dist/css/adminlte.min.css">
        <link rel="stylesheet" href="~/AdminLTE-3.2.0/dist/css/adminlte.min.css">
          
        <link rel="stylesheet" href="AdminLTE-3.2.0/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
        <link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
          
        <link rel="stylesheet" href="AdminLTE-3.2.0/plugins/daterangepicker/daterangepicker.css">
        <link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/daterangepicker/daterangepicker.css">
          
        <link rel="stylesheet" href="AdminLTE-3.2.0/plugins/summernote/summernote-bs4.min.css">
        <link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/summernote/summernote-bs4.min.css">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    }
    <title>@ViewData["Title"] - Phim Hay</title>
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="AdminLTE-3.2.0/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .active {
            font-size: large;
            color: darkblue;
            font-weight: bold;
        }

        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }

        .h-custom {
            height: calc(100% - 73px);
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Phim Hay</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (HttpContextAccessor.HttpContext.Session.GetString("admin") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin Home</a>
                            </li>
                        }
                        </ul>
                </div>
                <form class="form-inline my-2 my-lg-0">
                    @if (HttpContextAccessor.HttpContext.Session.GetString("account") != null)
                    {

                        Person account = JsonConvert.DeserializeObject<Person>(HttpContextAccessor.HttpContext.Session.GetString("account"));

                        <div>
                            <i class="fa fa-sign-out"></i> Hello @account.Fullname  
                        </div>

                    }
                    <div class="input-group input-group-sm">
                        <input asp-controller="Movie" asp-action="SearchMovie" name="search" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary btn-number">
                                <i class="fas fa-search" aria-hidden="true"></i>

                            </button>
                        </div>
                    </div>

                    @if (HttpContextAccessor.HttpContext.Session.GetString("account") == null)
                    {
                        <a asp-area="" asp-controller="Security" asp-action="Login" class="btn btn-success btn-sm ml-3">
                            <i class="fa fa-sign-in"></i> Đăng nhập
                        </a>
                    }
                    @if (HttpContextAccessor.HttpContext.Session.GetString("account") != null)
                    {

                        Person account = JsonConvert.DeserializeObject<Person>(HttpContextAccessor.HttpContext.Session.GetString("account"));

                        <a class="btn btn-success btn-sm ml-3" asp-controller="Security" asp-action="Logout">
                            <i class="fa fa-sign-out"></i> Đăng xuất
                        </a>
                       

                    }

                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

      
    <script src="AdminLTE-3.2.0/plugins/jquery/jquery.min.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/jquery/jquery.min.js"></script>
     
    <script src="AdminLTE-3.2.0/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/jquery-ui/jquery-ui.min.js"></script>
      
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
     
    <script src="AdminLTE-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
     
    <script src="AdminLTE-3.2.0/plugins/chart.js/Chart.min.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/chart.js/Chart.min.js"></script>
      
    <script src="AdminLTE-3.2.0/plugins/sparklines/sparkline.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/sparklines/sparkline.js"></script>
     
    <script src="AdminLTE-3.2.0/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="AdminLTE-3.2.0/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
     
    <script src="AdminLTE-3.2.0/plugins/jquery-knob/jquery.knob.min.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/jquery-knob/jquery.knob.min.js"></script>
      
    <script src="AdminLTE-3.2.0/plugins/moment/moment.min.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/moment/moment.min.js"></script>
    <script src="AdminLTE-3.2.0/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/daterangepicker/daterangepicker.js"></script>
    
    <script src="AdminLTE-3.2.0/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    
    <script src="AdminLTE-3.2.0/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="AdminLTE-3.2.0/plugins/summernote/summernote-bs4.min.js"></script>
     
    <script src="AdminLTE-3.2.0/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/AdminLTE-3.2.0/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
      
    <script src="AdminLTE-3.2.0/dist/js/adminlte.js"></script>
    <script src="~/AdminLTE-3.2.0/dist/js/adminlte.js"></script>
      
    <script src="AdminLTE-3.2.0/dist/js/demo.js"></script>
    <script src="~/AdminLTE-3.2.0/dist/js/demo.js"></script>
    
    <script src="AdminLTE-3.2.0/dist/js/pages/dashboard.js"></script>
    <script src="~/AdminLTE-3.2.0/dist/js/pages/dashboard.js"></script>

<!--</body>-->
</body>
</html>
